#splash-container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #ffffff;
  background-image: linear-gradient(to bottom right, #0e2b5f, #a9b1c2);
  animation: fadeIn 3s, fadeOut 1.5s 3.5s;
}

#splash-header {
  margin-bottom: 12px;
  font-size: 60px;
}

#credits {
  font-size: 18px;
  margin-bottom: 6px;
}

#loading {
  font-size: 15px;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@keyframes fadeOut {
  0% {opacity:1;}
  100% {opacity:0;}
}
