#table-container {
  width: 95vw;
  max-height: 90vh;
  overflow: scroll;
}

tbody > * {
  font-size: 12px;
  font-family: 'Courier New', Courier, monospace;
}

td {
  padding: 6px;
  border: solid 1px gray;
}

th {
  border-bottom: solid 3px #222222;
  background: #3b4f79;
  color: #f8f8f8;
  font-weight: bold;
  padding: 6px;
}
